---
import Layout from '@/layout/Base.astro'
import { getAllPostSlugs, getPostInfo } from "@/lib/wp"

const slug = Astro.params.slug
if(!slug) return Astro.redirect('/404')

const { title, content, seo } = await getPostInfo(slug)
// export const prerender = false

export async function getStaticPaths(){
  const slugs = await getAllPostSlugs
  return slugs.map((slug: string)=>({params: {slug}}))
}
---

<Layout title={title} description={seo.description}>
  <article>
    <h1>{title}</h1>
    <div set:html={content}/>
  </article>
</Layout>